* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.min-blog-row {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.list-group {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  list-style: none;
}
.container {
  width: 1170px;
  margin: auto;
}
.header {
  background-color: #b20f14;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}
.menu-item ul li a {
  font-weight: bold;
  font-size: 20px;
  color: #fff !important;
}
.card {
  margin-top: 20px;
}
.card.h-100 {
  margin: 10px;
}
@media (max-width: 767px) {
  .hide {
    display: none;
  }
}
@media (max-width: 580) {
  .col-sm-12 {
    width: 100% !important;
  }
  .col-sm-6 {
    width: 100% !important;
  }
  .col-sm-4 {
    width: 100% !important;
  }
}
